{load static %}
<script src="{% static "fairdata/jquery-1.11.1.min.js" %}"></script>
<script src="{% static "fairdata/jquery.cookie.js" %}"></script>
<script src="{% static "fairdata/home.js" %}"></script>
<script src="{% static "fairdata/bootstrap.min.js" %}"></script>
<script src="{% static "fairdata/d3.min.js" %}"></script>
<script src="{% static "fairdata/d3.js" %}"></script>
<link rel="stylesheet" href="{% static "fairdata/bootstrap.min.css" %}" type="text/css" />
<link rel="stylesheet" href="{% static "fairdata/home.css" %}" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Sintony:400,700' rel='stylesheet' type='text/css'>

<title>Results</title>

<p>HI THERE</p>

